@model SampleListDetailMvc.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author.Name)
        </dt>
        <dd>
            <a asp-controller="Authors" asp-action="Details" asp-route-id="@Model.AuthorId">
                @Html.DisplayFor(model => model.Author.Name)
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Publisher.Name)
        </dt>
        <dd>
            <a asp-controller="Publishers" asp-action="Details" asp-route-id="@Model.PublisherId">
                @Html.DisplayFor(model => model.Publisher.Name)
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
